.movie-card {
  width: 170px;
  flex-shrink: 0;
}

.movie-poster {
  width: 170px;
  height: 255px;

  display: block;
  object-fit: cover;

  border-radius: 4px;

  transition: transform 0.2s ease;
}

.movie-card:hover .movie-poster {
  transform: translateY(-5px);
}

.movie-info {
  padding-top: 10px;
}

.movie-info h3 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-info p {
  margin-top: 4px;
  color: #8c9297;
  font-size: 12px;
}

.movie-info span {
  display: block;
  margin-top: 4px;
  color: #00c030;
  font-size: 12px;
}